# 02-frontend.yml
# This is the "blueprint" for our Node.js "waiter"

# === PART 1: THE DEPLOYMENT ===
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-node-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-node
  template:
    metadata:
      labels:
        app: frontend-node
    spec:
      containers:
        - name: frontend-node-container
          # Get the "box" from the "shelf"
          image: mayank750703/frontend-node:v1
          ports:
            - containerPort: 3000

---
# === PART 2: THE SERVICE ===
# This part exposes our app to the browser
apiVersion: v1
kind: Service
metadata:
  name: frontend-node-service
spec:
  # This 'NodePort' type makes it accessible
  # from your computer's network
  type: NodePort 
  selector:
    app: frontend-node
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      # This is the "doorbell" port we will use
      nodePort: 30007